@model SimasTurbo.Models.CadVendas

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Vendas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CadVendasId" class="btn" style="background-color:#9CC1DD; color:white">Editar</a>
    <a asp-action="Index" class="btn" style="background-color:#FB5546; color:white">Voltar à Lista</a>
</div>
