@model SimasTurbo.Models.Produto

@{
    ViewData["Title"] = "Deletar";
}

<h1>@ViewData["Title"]</h1>

<h3>Você tem certeza que deseja detelar isso?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreçoUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreçoUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.FornecedorId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoId" />
        <input type="submit" value="Delete" class="btn me-3" style="background-color:#FB5546; color:white" />
        <a asp-action="Index" class="btn" style="background-color:#9CC1DD; color:white">Voltar à Lista</a>
    </form>
</div>
