@model IEnumerable<SimasTurbo.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn mt-3" style="background-color:#FB5546; color: white">Criar um Novo</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreçoUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fornecedor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreçoUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                    </td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.ProdutoId" class="btn" style="background-color:#5E6BC2; color:white">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.ProdutoId" class="btn" style="background-color:#9CC1DD; color:white">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.ProdutoId" class="btn" style="background-color:#FB5546; color:white">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
